@import '~styles/config';

.header {
  display: block;

  &__container {
    @include container;
  }

  &__content {
    display: flex;
    align-items: center;

    padding: $gutter 0;
  }

  &__logo {
    &Svg {
      display: block;
      position: absolute;
      z-index: 1;
      top: 32px;
      height: 16px;
      width: auto;

      path { // stylelint-disable-line
        fill: rgba($color: #000000, $alpha: .7);
        transition: 200ms fill ease-in-out;
      }

      &:hover path{      
        fill: $color-accent;
      }

      @media (min-width: $min-768) {
        height: 20px;
        top: 29px;
      }

      @media (max-width: $max-480) {
        visibility: hidden;
      }
    }

    &SvgSmall {
      display: block;
      position: absolute;
      z-index: 2;
      top: 32px;
      height: 16px;
      width: auto;
      visibility: hidden;

      path { // stylelint-disable-line
        fill: rgba($color: #000000, $alpha: .7);
        transition: 200ms fill ease-in-out;
      }

      &:hover path{      
        fill: $color-accent;
      }

      @media (max-width: $max-480) {
        visibility: visible;
      }
      
    }
  }

  &__navigation {
    display: flex;
    margin-left: auto;
  }
}
