@import '~styles/config';

.header {
  display: block;

  &__container {
    @include container;
  }

  &__content {
    display: flex;
    align-items: center;
    padding: $gutter 0px;
  }

  &__logo {
    &Svg {
      display: block;
      position: absolute;
      z-index: 1;
      top: 34px;
      height: 20px;
      width: auto;

      path {
        transition: 200ms fill ease-in-out;
        fill: rgba($color: #000, $alpha: 0.7);
      }

      &:hover path {
        fill: $color-accent;
      }

      @media (max-width: $max-600) {
        display: none;
      }

      @media (min-width: $min-720) {
        top: 37px;
      }

      @media (min-width: $min-1024) {
        top: 39px;
      }
    }

    &SvgSmall {
      display: none;
      position: absolute;
      z-index: 2;
      top: 36px;
      height: 16px;
      width: auto;

      path {
        transition: 200ms fill ease-in-out;
        fill: rgba($color: #000, $alpha: 0.7);
      }

      &:hover path {
        fill: $color-accent;
      }

      @media (max-width: $max-600) {
        display: block;
      }
    }
  }

  &__navigation {
    display: flex;
    margin-left: auto;
  }
}
