@import '~styles/config';

.header {
  display: block;

  &__container {
    @include container;
  }

  &__content {
    display: flex;
    align-items: center;

    padding: $gutter 0;
  }

  &__logo {
    &Svg {
      display: block;

      height: 16px;
      width: auto;

      path { // stylelint-disable-line
        fill: #000000;
        transition: 200ms fill ease-in-out;
      }

      &:hover path{      
        fill: $color-accent;
      }

      @media (min-width: $min-768) {
        height: 18px;
      }
    }
  }

  &__navigation {
    display: flex;
    margin-left: auto;
  }
}
