@import '~styles/config';

.link {
  display: flex;
  margin-left: 30px;
  text-decoration: none;
  font-weight: 700;
  @include rf(20, 28);
  color: #000;
  transition: 200ms color ease-in-out;

  @media (max-width: $max-480) {
    margin-left: 10px;
  }

  &:first-of-type {
    margin-left: 0;
  }

  &:last-of-type {
    display: inherit;
    @media (max-width: $max-480) {
      display: none;
    }
  }

  &:hover {
    color: $color-accent;
  }

  &__icon {
    position: relative;
    margin-right: 5px;
    margin-top: 0px;
    width: 24px;
    height: 24px;

    path {
      transition: 200ms fill ease-in-out;
      fill: #000;
    }

    &:hover path {
      fill: $color-accent;
    }

    @media (min-width: $min-480) {
      margin-top: 3px;
    }

    @media (min-width: $min-768) {
      margin-top: 5px;
    }

    @media (min-width: $min-1024) {
      margin-top: 8px;
    }

    @media (min-width: $min-1200) {
      margin-top: 9px;
    }

  }
}
