@import '~styles/config';

.intro {
  padding-bottom: 30px;
  border-bottom: 3px dashed $color-accent-opacity-black;

  @media (min-width: $min-768) {
    padding-bottom: 40px;
  }

  &__col {
    @include grid-col;
    @media (min-width: $min-768) {
      @include grid-col(12);
    }
  }

  &__text {
    @include rf(26, 32);
    font-family: $font-heading;
    font-weight: 300;
  }

  &__subtext {
    @include rf(24, 26);
    margin-top: 20px;
    font-family: $font-family;
  }

  a {
    text-decoration: none;
    color: #000;
    transition: 200ms color ease-in-out;

    &:hover {
      color: $color-accent;
    }
  }
}