@import '~styles/config';

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;

  &__content {
    display: flex;
    justify-content: space-between;

    padding: 10px 0;

    border-bottom: 20px solid $color-accent;
  }

  &__list {
    display: flex;
  }

  &__item {
    path { // stylelint-disable-line
      fill: #000000;
      transition: 200ms fill ease-in-out;
    }

    margin-left: 30px;

    &:hover path{      
      fill: $color-accent;
    }
  }

  &__logo {
    path { // stylelint-disable-line
      fill: #000000;
      transition: 200ms fill ease-in-out;
    }

    &:hover path{      
      fill: $color-accent;
    }
  }
}
