@import '~styles/config';

.footer {
  position: absolute;
  right: 0px;
  bottom: 0px;
  left: 0px;

  &__content {
    display: flex;
    justify-content: space-between;

    padding: 10px 0px 0px;

    border-bottom: 15px solid $color-accent;
  }

  &__list {
    display: flex;
  }

  &__item {
    path {
      transition: 200ms fill ease-in-out;
      fill: #000;
    }

    margin-left: 20px;

    &:hover path {
      fill: $color-accent;
    }
  }

  &__logo {
    path {
      transition: 200ms fill ease-in-out;
      fill: rgba($color: #000, $alpha: 0.7);
    }

    &:hover path {
      fill: $color-accent;
    }
  }
}
