@import '~styles/config';

.square {
  &__list {
    display: flex;
  }
  
  &__svg_icon {
    path {
      transition: 200ms fill ease-in-out;
      fill: #000;
    }

    &:hover path {
      fill: $color-accent;
    }
  }

  &__margin_bottom {
    margin-bottom: 15px;
  }

  &__margin_right {
    margin-right: 15px;
  }
}
