@import '~styles/config';

.block_resume {
  padding: 50px 0px;
  border-bottom: 3px dashed $color-accent-opacity-black;

  ul {
    margin-left: 0px;
    padding-left: 0px;
  }

  li {
    padding-left: 1em;
    text-indent: -1em;
  }

  li::before {
    content: '\02794';
    padding-right: 5px;
    color: $color-accent;
  }

  &__col {
    @include grid-col(12);
    @media (min-width: $min-768) {
      @include grid-col(11);
      @include grid-offset-left(1);
    }
  }

  &__heading {
    @include rf(22, 24);
    margin-bottom: 0px;
    font-family: $font-heading;
    font-weight: 700;
    &::before {
      content: '\02794';
      margin-right: 5px;
      color: $color-accent;
    }
  }

  &__subheading {
    @include rf(16, 18);
    margin-bottom: 10px;
    font-family: $font-heading;
    font-weight: 400;
  }

  &__description {
    @include rf(16, 18);
    font-weight: 300;
    line-height: (26 / 16);

    a {
      text-decoration: none;
      font-weight: 700;
      color: #000;
      transition: 200ms color ease-in-out;
      &:hover {
        color: $color-accent;
      }
    }
  }
}
