@import '~styles/config';

.block_resume {
  padding: 60px 0;

  border-bottom: 3px dashed $color-accent-opacity-black;

  @media (min-width: $min-768) {
    padding: 60px 0;
  }

  ul {
    margin-left: 0;
    padding-left: 0;
  }
  
  li {
    padding-left: 1em;
    text-indent: -1em;
  }
  
  li:before {
    content: '\02794 ';
    color: $color-accent;
    padding-right: 5px;
  }

  &__col {
    @include grid-col;
    @include grid-offset-left;

    @media (min-width: $min-768) {
      @include grid-col(10);
      @include grid-offset-left(1);
    }
  }

  &__heading {
    @include rf(16, 24);

    margin-bottom: 0px;

    font-family: $font-heading;
    font-weight: 700;
    
    &::before {
      content: '\02794 ';
      color: $color-accent;
      margin-right: 5px;
    }
  }

  &__subheading {
    @include rf(16, 18);

    margin-bottom: 10px;

    font-family: $font-heading;
    font-weight: 400;
  }

  &__description {
    @include rf(16, 18);

    font-weight: 300;
    line-height: (26 / 16);
    margin-left: 20px;

    a { // stylelint-disable-line
      text-decoration: none;
      font-weight: 700;

      color: #000;

      transition: 200ms color ease-in-out;

      &:hover { // stylelint-disable-line
        color: $color-accent;
      }
    }
  }
}
