@import '~styles/config';

.portfolio {
  padding: 50px 0;

  border-bottom: 3px dashed $color-accent-opacity-black;

  @media (min-width: $min-768) {
    padding: 80px 0;
  }

  &__col {
    @include grid-col;

    @media (min-width: $min-768) {
      @include grid-col(7);
    }
  }

  &__pic {
    @include grid-col;

    margin-bottom: 20px;
    
    @media (min-width: $min-768) {
      @include grid-col(5);
    }
  }

  &__heading {
    @include rf(16, 24);

    margin-bottom: 5px;

    font-family: $font-heading;
    font-weight: 700;

    &::before {
      content: '\02794 ';
      color: $color-accent;
      margin-right: 5px;
    }
  }

  &__description {
    @include rf(16, 18);

    font-weight: 300;
    line-height: (26 / 16);

    a { // stylelint-disable-line
      text-decoration: none;
      font-weight: 400;

      color: #000;

      transition: 200ms color ease-in-out;

      &:hover { // stylelint-disable-line
        //opacity: 0.5;
        color: darkorange;
      }
    }
  }

  a {
    text-decoration: none;
    color: black;
    transition: 200ms color ease-in-out;
    
    &:hover{
      color: $color-accent;
    }
  }
}
