@import '~styles/config';

.video {
  padding: 40px 0px;
  border-bottom: 3px dashed $color-accent-opacity-black;

   a {
    text-decoration: none;
    color: #000;
    transition: 200ms color ease-in-out;

    &:hover {
      color: $color-accent;
    }
  }

  &__vid {
    @include grid-col;
    @media (min-width: $min-768) {
      @include grid-col(12);
    }
  }

  &__col {
    @include grid-col;
    @media (min-width: $min-768) {
      @include grid-col(12);
    }
  }

  &__heading {
    @include rf(16, 24);
    margin-bottom: 15px;
    font-family: $font-heading;
    font-weight: 700;

    &::before {
      content: '\02794';
      margin-right: 5px;
      color: $color-accent;
    }
  }

  &__description {
    @include rf(16, 18);
    font-weight: 300;
    line-height: (26 / 16);
    margin-top: 20px;

    p {
      margin-bottom: 0px;
    }

    a {
      text-decoration: none;
      font-weight: 400;
      color: #000;
      transition: 200ms color ease-in-out;

      &:hover {
        color: darkorange;
      }
    }
  }

  // * Player ratio: 100 / (960/540) */
  .player_wrapper {
    position: relative;
    padding-top: 56.25%
  }

  .react_player {
    position: absolute;
    top: 0;
    left: 0;
  }
}
